# Ensure that twitter credentials are not uploaded to github.
credentials.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
downloads/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# pyenv
.python-version